* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: #edf2f8;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-areas: 
    " card1 card1  card1 card2 card3"
    "card4  card5 card5 card5 card3";
    gap: 24px;
    max-width: 1100px; 
    width: 95%;
   
    
}

.card1, .card2, .card3, .card4, .card5 {
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    padding: 10px;
    
}

/* Fotos, nombres y profesiones del perfil */

.img-container {
    display: flex;
    align-items: center;
    margin: 15px;
    gap: 12px;
}

.profile-pic {
    width: 45px;
    object-fit: contain;
    border-radius: 60px;
    border: 1px solid #afabab;
}

.texto-perfil {
    display: flex;
    flex-direction: column;
}

.nombre, .profesion {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.card1 .nombre, .card2 .nombre, .card5 .nombre, .card1 .profesion, .card2 .profesion, .card5 .profesion {
    color: #fff;
}

.card3 .nombre, .card4 .nombre, .card3 .profesion, .card4 .profesion {
    color: #48556A;
}


.nombre {
    font-size: 14px;
    font-weight: bold;
}

.profesion {
    font-size: 11px;
    opacity: 0.5;
}

/* Titulos h2 */
.titulosH2 {
    font-size: 18px;
    color: #fff;
    margin: 15px;
}

.card3 .titulosH2, .card4 .titulosH2 {
    font-size: 20px;
    color: #48556A;
    margin: 15px;
}

/* Parrafos */
.parrafoPrincipal {
    text-align: justify;
    font-size: 12px;
    padding: 12px;
    color: rgba(245, 239, 239, 0.486); 
    line-height: 1.9;
}

.card3 .parrafoPrincipal, .card4 .parrafoPrincipal {
    font-size: 14px;
    padding: 12px;
    color: rgba(43, 41, 41, 0.486);
}


/* Tarjeta 1 */
.card1 {
    grid-area: card1;
    background-color: #733fc8;
    position: relative;
    overflow: hidden;
}

.card1::before {
    content: "\201C";
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 200px;
    font-family: serif;
    color: white;
    opacity: 0.15;
    line-height: 1;
    z-index: 0;
}

.card1 .profile-pic {
    border: 3px solid #d4b3d3;
}

/* Tarjeta 2*/

.card2 {
    grid-area: card2;
    background-color: #48556A;
}

/* Tarjeta 3 */
.card3 {
    grid-area: card3;
    background-color: #fff;
}

/* .card3 .parrafoPrincipal {
    line-height: 1.9;
} */

/* Tarjeta 4 */
.card4 {
    grid-area: card4;
    background-color: #fff;
}

/* Tarjeta 5 */
.card5 {
    grid-area: card5;
    background-color: #19202E;
}


.card5 .profile-pic {
    width: 40px;
    object-fit: contain;
    border-radius: 60px;
    border: 2px solid #733fc8;
}

@media (min-width: 768px) and (max-width: 1024px) {

    body {
        padding: 40px 0;

    }

    main {
       grid-template-areas: 
       " card1 card1"
       "card2  card3" 
       "card4  card5";
       gap: 20px;
       width: 90%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    main {
        grid-template-areas: 
       "card1"
       "card2" 
       "card3" 
       "card4"
       "card5";
       gap: 10px;
       width: 95%;
    }
   

}

